body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'latoregular';
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
:hover,
:focus,
a:focus,
button:focus,
input[type="submit"],
select:focus {
  outline: none;
}

button,
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label {
  font-weight: normal;
}

ul {
  padding: 0;
  list-style: none;
}

textarea {
  resize: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="tel"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* mobile firefox too! */
}

.pos-rel {
  position: relative;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*-------Parsley----*/

.error-box {
  padding: 15px;
  background: #f9fcfe;
  margin-bottom: 5px;
  width: 100%;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error,
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  background-color: transparent;
}

.parsley-errors-list.filled li {
  font-family: latoregular;
  font-size: 14px;
  color: #e34f30;
}

.hidden {
  display: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.bg-aqua-clr {
  background-color: #EFF3F6;
  padding-top: 100px;
}

.content-outer-box {
  padding: 0 2%;
  width: 96%;
  margin: 0 auto;
}

/*-------Width----*/

.wd-79 {
  width: 79px;
}

.wd-16 {
  width: 16px;
}

.wd-72 {
  width: 72px;
}

.wd-51 {
  width: 51px;
}

.wd-14 {
  width: 14px;
}

/*-------Height---*/

.hg-51 {
  height: 51px;
}

/*--------Opacity-----*/

.op-01 {
  opacity: 0.1;
}

.op-02 {
  opacity: 0.2;
}

.op-03 {
  opacity: 0.3;
}

.op-04 {
  opacity: 0.4;
}

.op-05 {
  opacity: 0.5;
}

.op-06 {
  opacity: 0.6;
}

.op-07 {
  opacity: 0.7;
}

.op-08 {
  opacity: 0.8;
}

.op-09 {
  opacity: 0.9;
}

.custom-fc .form-label {
  font-family: latoregular;
  font-size: 12px;
  color: #8d959d;
}

.custom-fc input.form-control {
  font-family: latoregular;
  font-size: 14px;
  color: #1f2a37;
  padding-left: 24px;
  padding-right: 24px;
  border-color: #e6eaee;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-fc input.form-control.placeholder {
  font-family: latoregular;
  font-size: 14px;
  color: #c8cdd2;
}

.custom-fc input.form-control:-moz-placeholder {
  font-family: latoregular;
  font-size: 14px;
  color: #c8cdd2;
}

.custom-fc input.form-control::-moz-placeholder {
  font-family: latoregular;
  font-size: 14px;
  color: #c8cdd2;
}

.custom-fc input.form-control:-ms-input-placeholder {
  font-family: latoregular;
  font-size: 14px;
  color: #c8cdd2;
}

.custom-fc input.form-control::-webkit-input-placeholder {
  font-family: latoregular;
  font-size: 14px;
  color: #c8cdd2;
}

.custom-fc input.form-control:focus {
  border-color: #e6eaee;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.row-fix {
  margin-left: 0px;
  margin-right: 0px;
}

.col-fix {
  padding-left: 0px;
  padding-right: 0px;
}

a {
  text-decoration: none !important;
}

/*! breadcrumb */

.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  padding: .75rem 2rem;
}

.breadcrumb .breadcrumb-item {
  color: #8d959d;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #8d959d;
  content: ">";
}

.breadcrumb .breadcrumb-item a {
  color: #8d959d;
}

.breadcrumb .breadcrumb-item a:hover {
  color: #404852;
}

.btn-add {
  padding: 0 10px;
  text-align: center;
  line-height: 36px;
  display: inline-block;
  height: 36px;
  border-radius: 4px;
  background-color: #f1f6fa;
  -webkit-box-shadow: 0 2px 38px 0 #e5edf2;
          box-shadow: 0 2px 38px 0 #e5edf2;
  border: solid 1px #59c3e8;
  font-family: latobold;
  font-size: 14px;
  color: #59c3e8;
  text-decoration: none;
}

.btn-add:hover {
  color: #59c3e8;
}

.bdr-1-white {
  border: 1px solid #fff !important;
}

/*------switch toggle--------*/

.switch {
  position: relative;
  display: inline-block;
  width: 84px;
  height: 22px;
}

@media screen and (max-width: 767px) {
  .switch {
    width: 65px;
  }
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F51F38;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 10.5px;
  line-height: 22px;
  padding-left: 25px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .slider {
    font-size: 7.5px;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #23cf5f;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #23cf5f;
          box-shadow: 0 0 1px #23cf5f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(58px);
  transform: translateX(58px);
}

@media screen and (max-width: 767px) {
  input:checked + .slider:before {
    -webkit-transform: translateX(42px);
    transform: translateX(42px);
  }
}

/* Rounded sliders */

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-footer-btn {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  display: inline-block !important;
  margin-bottom: 0 !important;
  text-align: center;
}

.modal-footer-btn .cancel-step,
.modal-footer-btn .btn-cancel,
.modal-footer-btn .btn-green,
.modal-footer-btn .next-step {
  display: inline-block;
  width: 110px;
  height: 35px;
  text-align: center;
  border: 0;
  padding-top: 5px;
}

.modal-footer-btn .cancel-step:hover,
.modal-footer-btn .btn-cancel:hover,
.modal-footer-btn .btn-green:hover,
.modal-footer-btn .next-step:hover {
  text-decoration: none;
}

.modal-footer-btn .next-step,
.modal-footer-btn .btn-green {
  border-radius: 4px;
  background-color: #23cf5f;
  border: 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination li a,
.pagination li.active span,
.pagination li.disabled span {
  position: relative;
  display: block;
  /* padding: 0.5rem 0.75rem; */
  margin-left: -1px;
  /* line-height: 1.25; */
  color: #59c3e8;
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination li a:hover {
  color: #55adcc;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.pagination li a:focus {
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.pagination li a:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.pagination li:first-child a {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.pagination li:last-child a {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination li.active a {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.pagination li.disabled a {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.regular-12-8d959d,
.content-wrapper-setting .change-password-form label {
  font-family: latoregular;
  font-size: 12px;
  color: #8d959d;
}

.regular-14-8d959d {
  font-family: latoregular;
  font-size: 14px;
  color: #8d959d;
}

.regular-16-8d959d {
  font-family: latoregular;
  font-size: 16px;
  color: #8d959d;
}

.regular-24-8d959d {
  font-family: latoregular;
  font-size: 24px;
  color: #8d959d;
}

.regular-14-c8cdd2 {
  font-family: latoregular;
  font-size: 14px;
  color: #c8cdd2;
}

.regular-14-ffffff {
  font-family: latoregular;
  font-size: 14px;
  color: #ffffff;
}

.regular-24-ffffff,
.content-wrapper-setting-tutorials .carousel-caption p {
  font-family: latoregular;
  font-size: 24px;
  color: #ffffff;
}

.bold-16-ffffff,
.modal-footer-btn .next-step,
.modal-footer-btn .btn-green,
.content-wrapper-setting-change-password-save .next-step,
.content-wrapper-setting-change-password-save .btn-green {
  font-family: latobold;
  font-size: 16px;
  color: #ffffff;
}

.bold-48-ffffff,
.content-wrapper-setting-tutorials .carousel-caption h5 {
  font-family: latobold;
  font-size: 48px;
  color: #ffffff;
}

.regular-14-404852 {
  font-family: latoregular;
  font-size: 14px;
  color: #404852;
}

.regular-16-404852 {
  font-family: latoregular;
  font-size: 16px;
  color: #404852;
}

.bold-14-404852 {
  font-family: latobold;
  font-size: 14px;
  color: #404852;
}

.bold-16-404852 {
  font-family: latobold;
  font-size: 16px;
  color: #404852;
}

.bold-18-404852 {
  font-family: latobold;
  font-size: 18px;
  color: #404852;
}

.bold-28-404852 {
  font-family: latobold;
  font-size: 28px;
  color: #404852;
}

.regular-12-838485 {
  font-family: latoregular;
  font-size: 12px;
  color: #838485;
}

.regular-14-838485 {
  font-family: latoregular;
  font-size: 14px;
  color: #838485;
}

.light-42-23cf5f {
  font-family: latolight;
  font-size: 42px;
  color: #23cf5f;
  font-weight: 300;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .light-42-23cf5f {
    font-size: 21px;
    line-height: 24px;
  }
}

.regular-16-23cf5f,
.modal-footer-btn .cancel-step,
.modal-footer-btn .btn-cancel,
.content-wrapper-setting-change-password-save .cancel-step,
.content-wrapper-setting-change-password-save .btn-cancel {
  font-family: latoregular;
  font-size: 16px;
  color: #23cf5f;
}

.bold-14-23cf5f {
  font-family: latobold;
  font-size: 14px;
  color: #23cf5f;
}

.regular-14-1f2a37,
.content-wrapper-setting .change-password-form input.form-control {
  font-family: latoregular;
  font-size: 14px;
  color: #1f2a37;
}

.light-42-59c3e8 {
  font-family: latolight;
  font-size: 42px;
  color: #59c3e8;
  font-weight: 300;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .light-42-59c3e8 {
    font-size: 21px;
    line-height: 24px;
  }
}

.regular-14-59c3e8 {
  font-family: latoregular;
  font-size: 14px;
  color: #59c3e8;
}

.bold-14-404852 {
  font-family: latobold;
  font-size: 14px;
  color: #404852;
}

.bold-16-404852 {
  font-family: latobold;
  font-size: 16px;
  color: #404852;
}

.bold-16-354052 {
  font-family: latobold;
  font-size: 16px;
  color: #354052;
}

.bold-18-404852 {
  font-family: latobold;
  font-size: 18px;
  color: #404852;
}

.bold-14-59c3e8 {
  font-family: latobold;
  font-size: 14px;
  color: #59c3e8;
}

.bold-14-6e7e86 {
  font-family: latobold;
  font-size: 14px;
  color: #6e7e86;
}

.light-42-ffad00 {
  font-family: latolight;
  font-size: 42px;
  color: #ffad00;
  font-weight: 300;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .light-42-ffad00 {
    font-size: 21px;
    line-height: 24px;
  }
}

.light-42-f81930 {
  font-family: latolight;
  font-size: 42px;
  color: #f81930;
  font-weight: 300;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .light-42-f81930 {
    font-size: 21px;
    line-height: 24px;
  }
}

.light-42-ff8900 {
  font-family: latolight;
  font-size: 42px;
  color: #ff8900;
  font-weight: 300;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .light-42-ff8900 {
    font-size: 21px;
    line-height: 24px;
  }
}

.light-42-611cb8 {
  font-family: latolight;
  font-size: 42px;
  color: #611cb8;
  font-weight: 300;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .light-42-611cb8 {
    font-size: 21px;
    line-height: 24px;
  }
}

.content-wrapper-setting {
  max-width: 900px;
  margin: 0 auto;
  padding:100px 0
}

.content-wrapper-setting-tutorials,
.content-wrapper-setting-change-password,
.content-wrapper-setting-privacy-policy {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 38px 0 #e5edf2;
          box-shadow: 0 2px 38px 0 #e5edf2;
}


.content-wrapper-setting-change-password {
  padding: 16px 24px;
  margin-bottom: 48px;
}


.content-wrapper-setting .change-password-form input.form-control {
  padding-left: 24px;
  padding-right: 24px;
  border-color: #e6eaee;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.content-wrapper-setting .change-password-form input.form-control.placeholder {
  font-family: latoregular;
  font-size: 14px;
  color: #444;
}

.content-wrapper-setting .change-password-form input.form-control:-moz-placeholder {
  font-family: latoregular;
  font-size: 14px;
  color: #444;
}

.content-wrapper-setting .change-password-form input.form-control::-moz-placeholder {
  font-family: latoregular;
  font-size: 14px;
  color: #444;
}

.content-wrapper-setting .change-password-form input.form-control:-ms-input-placeholder {
  font-family: latoregular;
  font-size: 14px;
  color: #444;
}

.content-wrapper-setting .change-password-form input.form-control::-webkit-input-placeholder {
  font-family: latoregular;
  font-size: 14px;
  color: #444;
}

.content-wrapper-setting .change-password-form input.form-control:focus {
  border-color: #e6eaee;
  -webkit-box-shadow: none;
          box-shadow: none;
}


/*- added by ashish--*/
reset-btn-box button{
  background: transparent;
  width: 200px;
  height: 40px;
  border-radius: 50px;
  border: 1.5px solid #fff;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.bg-reset{background-repeat: no-repeat; background-position: center center; background-size:cover;}
.content-wrapper-setting h1{ color:#fff; margin-top:20px;}
.change-password-form label{font-size:16px; color:#fff;}
@media screen and (min-width:768px){
  .logo{width:200px;}
}
@media screen and (max-width:767px){
  .logo{width:100px;}
}
@media scree and (max-width:481px){
   .change-password-form{ margin: 0 auto;
    max-width: 420px;
    
   }
}

@media screen and (max-width:480px){
    .change-password-form{ margin: 0 auto;
        max-width: 100%;
        padding:0 15px;
       }
}